<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <img src="https://res.cloudinary.com/dw3woocjj/image/upload/v1697805421/email/up-white.png" class="footer-logo"
         alt="Pallettex"/>
    <h3 style="margin-bottom: 20px">Stay Connected with us on our socials</h3>
    <p style="color: #BFBFBF">
        Follow us on our social media channels for the latest movie news, updates, trailers, and more.
    </p>

    <div class="social">
        <a href="https://facebook.com/">
            <img src="https://res.cloudinary.com/dw3woocjj/image/upload/v1697805421/email/fb-icon.png"
                 alt="Facebook">
        </a>
        <a href="https://instagram.com/">
            <img src="https://res.cloudinary.com/dw3woocjj/image/upload/v1697805421/email/ig-icon.png"
                 alt="Instagram">
        </a>
        <a href="https://x.com/">
            <img src="https://res.cloudinary.com/dw3woocjj/image/upload/v1697805421/email/x-icon.png" alt="X">
        </a>
        <a href="https://linkedin.com/">
            <img src="https://res.cloudinary.com/dw3woocjj/image/upload/v1697805421/email/lkd-icon.png"
                 alt="Linkedin">
        </a>
        <a href="https://youtube.com/">
            <img src="https://res.cloudinary.com/dw3woocjj/image/upload/v1697805421/email/yt-icon.png"
                 alt="Youtube">
        </a>
    </div>

    <p style="padding-top: 30px">
        <a href="#" style="color: #ffffff; text-decoration: underline">Pallettex Site</a>
    </p>
</footer>
</body>
</html>